#span1 {
	width: 350px;
	height: 150px;
	border: 2px solid #FE5349;
	background-color: #FE5349;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

#span2 {
	width: 150px;
	height: 150px;
	border: 2px solid #0C8871;
	background-color: #0C8871;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

#span3 {
	width: 150px;
	height: 150px;
	border: 2px solid #B601FF;
	background-color: #B601FF;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

/**/
#span4 {
	width: 150px;
	height: 150px;
	border: 2px solid #0DC1FD;
	background-color: #0DC1FD;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

#span5 {
	width: 350px;
	height: 150px;
	border: 2px solid #08CA80;
	background-color: #08CA80;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

#span6 {
	width: 150px;
	height: 150px;
	border: 2px solid #01F361;
	background-color: #01F361;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}
/**/

#span7 {
	width: 150px;
	height: 150px;
	border: 2px solid #E8FF1D;
	background-color: #E8FF1D;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

#span8 {
	width: 150px;
	height: 150px;
	border: 2px solid #FE7405;
	background-color: #FE7405;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

#span9 {
	width: 350px;
	height: 150px;
	border: 2px solid #E52F2D;
	background-color: #E52F2D;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	/*text-align: center;*/
}

 
